body {
  background: #333333;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
a {
  font-family: 'Bahnschrift', serif;
  color: #00CC99;
  cursor: default;
}
i {
  color: #00CC99;
}
nav ul {
  font-family: 'Bahnschrift', serif;
  color: #00CC99;
  cursor: default;
}
nav ul .nav-item,
nav ul .nav-link {
  color: #1b1e21;
}
nav ul .nav-item:hover,
nav ul .nav-link:hover {
  color: #00CC99;
}
.navbar-toggler {
  color: #1b1e21;
}
a:hover {
  font-family: 'Bahnschrift', serif;
  color: #00CC99;
  cursor: default;
}
#btn-curriculo {
  background-color: #00CC99;
  padding: 8px 30px;
  border-radius: 25px;
  color: #eeeeee;
}
header img {
  border-radius: 50px;
}
header h4 .pl-2 {
  font-size: 12px;
}
.projeto {
  background-color: #eeeeee;
  border-radius: 10px;
  border: #00CC99 1px solid;
  font-family: 'Bahnschrift', serif;
  color: #00CC99;
  cursor: default;
}
.projeto .btn {
  background-color: #00CC99;
  padding: 4px 16px;
  border-radius: 25px;
  color: #eeeeee;
}
.projeto p {
  font-size: smaller;
  background-color: #00CC99;
  color: #eeeeee;
  border-radius: 5px;
  white-space: nowrap;
}
section {
  margin-top: 10%;
}
footer {
  background-color: #eeeeee;
  font-family: 'Bahnschrift', serif;
  color: #00CC99;
  cursor: default;
}
footer .btn {
  background-color: #00CC99;
  padding: 8px 30px;
  border-radius: 25px;
  color: #eeeeee;
}
#linguas a {
  background-color: #00CC99;
  padding: 2 8;
  border-radius: 25px;
  color: #eeeeee;
}
#grupo_linguas .btn {
  font-family: 'Bahnschrift', serif;
  color: #00CC99;
  cursor: default;
}
.row.collapse {
  background-color: rgba(134, 134, 134, 0.71);
  border-radius: 5px;
}